BGP-LS - inconsistencies in bidirectional connectivity

This issue was previously noted during the work that lead us to BGP-LS RFFC 9952, section 5.2.2.  It was further raised during review for draft-ietf-idr-bgpls-sr-vtn-mt.

From a mail to the authors of vtn-mt and the idr-chairs as part of chair review:

```
The case where an individual BGP session is established over each link
between the ASes and the link is partitioned is clear.

It is possible for a single eBGP session to be established between the two
ASes and BGP-LS could signal for all links between those ASes that each side
is up.  However, this can have issues previoulsy identified for the base
BGP-LS specification when this is done.  Consider this small example:

    +------+
    |  L1  |
  --+      +---
R1               R2
  --+      +---
    |  L2  |
    +------+

R1 and R2 peer via eBGP over L1.
R1 advertises to the rest of the network links L1 and L2 at R1
R1 propagates the state for links L1 and L2 received from R2.

R1 and R2 do not peer over L2.

If the link status of L2 at R1 and R2 is Up, but there is no connectivity
between them (connectivity is down), it is possible that a controller will
compute traffic over the down L2.

This issue was covered in RFC 9952, Section 5.2.2 - Link Descriptors:

: An implementation MAY suppress the advertisement of a Link NLRI,
: corresponding to a half-link, from a link-state IGP unless the IGP has
: verified that the link is being reported in the IS-IS LSP or OSPF Router LSA
: by both the nodes connected by that link. This 'two-way connectivity check'
: is performed by link-state IGPs during their computation and can be
: leveraged before passing information for any half-link that is reported from
: these IGPs into BGP-LS. This ensures that only those link-state IGP
: adjacencies that are established get reported via Link NLRIs. Such a
: 'two-way connectivity check' could also be required in certain cases (e.g.,
: with OSPF) to obtain the proper link identifiers of the remote node.

The issue we have here that is challenging - and technically an issue in RFC 9952
as well - is that the inter-domain case doesn't have an IGP on both sides to
do the check.

For typical eBGP, if the router advertised its connectivity at a link only
when the session is up, we're good.  R1 would get each half side only if the
session is up on each link.
```

The issue here is that this problem exists, but a standardized mechanism for dealing with its results hasn't been devised.  Addressing this issue likely will require a small update to RFC 9952.